.subscribe-button {
  background-color: rgb(255, 27, 27);
  color: white;
  border: none;
  height: 35px;
  width: 110px;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.subscribe-button:hover { 
  opacity: 0.8;
}

.subscribe-button:active {
  background-color: blue;
  opacity: 0.5;
}

.join-button {
  background-color: white;
  color: rgb(41, 118, 211);
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  height: 35px;
  width: 70px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}

.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgb(13, 162, 255);
  color: white;
  border-radius: 40px;
  border: none;
  width: 70px;
  height: 35px;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.15s;
}

.tweet-button:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}