.video-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  width: 200px;
  line-height: 25px;
  margin-bottom: 0px;
}

.views {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 2px;
  margin-bottom: 0px;
}

.youtuber {
  font-family: Roboto;
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 0px;
}