.nail1 {
  width: 200px;
  border-radius: 30px;
}

.nail2 {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.nail3 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}